body{
    min-height: 100vh;
	margin: 0;
	background-image: linear-gradient(to right top, #051a39, #034359, #386d70, #759685, #b7bea6)
}

.contenedor{
    text-align:center;
    margin:0;
    padding:0;
    font-size: 20px;
}