@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: #021634;
    color: #fff;
    aside {
        width: 20%;
        min-height: 100vh;
        background-color: #ddd;
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        .userInfo{
            padding: 30px 20px;
            color: #000;
            display: grid;
            grid-template-columns: 70px 1fr;
            grid-template-rows: 1fr 1fr;
            div{
                background-color: #021634;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                grid-area: 1/1/3/2;
            }
            p:nth-child(2){
                grid-area: 1/2/2/3;
            }
        }
        nav ul {
            display: flex;
            flex-direction: column;
            li {
                &.active {
                    background-color: #fff;
                    padding-left: 50px;
                    position: relative;
                    a {
                        color: #021634;
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 20px;
                            height: 100%;
                            background-color: #021634;
                        }
                        &:hover{
                            text-decoration: none;
                            cursor: default;
                        }
                    }
                   
                }
                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    padding: 20px 0 20px 20px;
                    color: #000;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    main {
        width: 80%;
        header{
            padding: 30px 50px;
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 3rem;
            }
            div{
                display: flex;
                align-items: center;
                button{
                    margin-left: 20px;
                    padding: 10px 20px;
                    border-radius: 20px;
                    &:hover{
                        background-color: skyblue;
                    }
                }
            }
        }
    }
}
