.dolar_contenedor_maximo{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.662);
	z-index: 1000;
	backdrop-filter: blur(2px);
}
.salir{
	background-color: rgba(255, 255, 255, 0.825);
	color: #000;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.2rem;
	font-weight: bold;
	position: absolute;
	top:  50px;
	right: 70px;
	cursor: pointer;
}
.salir:hover{
	background-color: #aaa;
}

.contenedor {
	background-color: #eee;
	color: #111;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: fit-content;
	border-radius: 50px;
	padding: 20px;
}
.contenedor .componente {
	width: 350px;
	margin: 10px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 10px #999;
}

.contenedor .componente h5{
	padding: 10px;
	text-align: center;
	background-color: aqua;
	color: rgb(0, 98, 98);
}
.contenedor .componente div{
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 10px;
}

.componente i{
	margin-right: 20px;
}

.contenedor .componente div p:nth-child(1) { 
	grid-area: 1 / 1 / 2 / 2; 
	text-align: center;
}
.contenedor .componente div p:nth-child(2)  { 
	grid-area: 1 / 2 / 2 / 3; 
	text-align: center;
}
.contenedor .componente div span  { 
	height: 30px;
	width: 100%;
	grid-area: 2 / 2 / 3 / 3; 
	background-color: aquamarine;
	text-align: center;
	line-height: 30px;
}
.contenedor .componente div i  { 
	width: 100%;
	height: 30px;
	grid-area: 2 / 1 / 3 / 2;
	background-color: aquamarine; 
	text-align: right;
	padding-right: 30px;
	line-height: 30px;
}
.contenedor .componente div p:nth-child(5)  { 
	grid-area: 3 / 1 / 4 / 3; 
	display: inline-block;
	text-align: center;
}